h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}        
div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}
div.carousel-inner{
    height: 252px;
}
div.carousel-inner img {
    width: 100%;
    height: 100%;
}
div.carouselPic{
    padding-right: 0px;
}
div.carouselBoard{
    padding-left: 0px;  
}
div.article_type_board{
    height: 15em;
}
div.hot-data {
    text-align: center;
    margin-top: 2em;
}
