h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}        
div.row{
    margin-bottom: 10px;
}
div.article_pic_board{
    height: 0;
    width: 100%;
    padding-bottom: 95%;
}
div#carousel-example-generic{
    height: 0;
    width: 100%;
    padding-bottom: 67%;
}
div.article_board{
    height: 0;
    width: 100%;
    padding-bottom: 67%;
}

